body {
    display: flex;
    background-color: #fef2cd;
    padding: 20px;
}
    
body>* {
    margin: 10px;
}

header {
    background-color: #f8cfcd;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #d4e9d4;
}


main {
    padding: 10px;
    background-color: #dae8fc;
    display: flex;
    align-content: flex-start;
}

section {
    padding: 10px;
    display: flex;
    align-content: flex-start;
    background-color: #f5f5f5;
}

article {
    background-color: #fffefe;
    width: 50%;
    height: 40vh;
}

aside {
    background-color: #ffe6cc;
    height: 25vh;
    width: 75%;
}

footer {
    background-color: #e1d5e7;
    height: 25vh;
}
