@font-face {
    font-family: miata;
    src: url(./fonts/miata.ttf);
}

body {
    margin: 0;
    display: flex;
    background-color: #fef2cd;
    flex-direction: column;
    font-family: system-ui;
    overflow-x: hidden;
}

body>* {
    text-align: center;
}

.top {
    background-image: url(./images/header.png);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: 50% 0;
}

header {
    height: 20vh;
    color: white;
}

header h1 {
    font-family: miata;
    transform: scale(1.5, 2);
}

nav {
    height: 5vh;
    display: flex;
    justify-content: center;
    background: rgba(146, 146, 146, 0.5)
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    align-self: center;
    border-radius: 5px;
}

nav a:hover {
    font-size: 30px;
    background: rgba(46, 46, 46, 0.3)
}


main {
    display: flex;
    flex-wrap: wrap;
    background-color: #dae8fc;
    justify-content: space-between;
    padding: 10px;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


section {
    background-color: #f5f5f5;
    padding: 15px;
}

article {
    background-color: #fffefe;
    padding: 10px;
}

aside {
    background-color: #ffe6cc;
    flex: 1;
    padding: 15px;
    margin-left: 10px;
}

footer {
    background-color: #e1d5e7;
    height: 20vh;
}

footer h1 {
    font-family: miata;
    transform: scale(1, 1.3);
}